#homeLink {
  font-size: x-large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 17px;
}

#aboutLink {
  font-size: x-large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: flex-end;
  padding-bottom: 17px;
}

#header {
  display: flex;
  left: 0;
  justify-self: space-between;
  right: 0;
  left: 0;
  background-color: #6b0c0c;
  width: 100%;
  border-width: 0;
  max-height: 65px;
  column-gap: 20px;
  align-items: flex-end;
}

.mx-2 {
  color: #b6f9ff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
}

.container {
  max-width: 1200px;
  height: 70px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

#logo-bar {
  justify-content: flex-start;
  margin-bottom: 56 35px;
}

.logo {
  vertical-align: baseline;
}
