header {
  text-align: left;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 170px;
  padding-left: 32px;
  padding-right: 32px;
  background: #f70d1a;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
.btn {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 50px;
  margin-right: 1700px;
  margin-top: 10p;
  padding: 10px 400px;
}
a {
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}
